{% extends "base.html" %}

{% block title %}Lista de Veículos{% endblock %}

{% block conte %}
    <h1>Lista de Veículos</h1>

    {% if session.get('username') == 'admin' %}
        <a href="/veiculos/adicionar">Adicionar Veículos</a>
    {% endif %}
    
    <a href="/menu">Voltar</a>  <!-- Link para voltar -->

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Placa</th>
                <th>Valor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for veiculo in veiculos %}
            <tr>
                <td>{{ veiculo.id }}</td>
                <td>{{ veiculo.Marca }}</td>
                <td>{{ veiculo.Modelo }}</td>
                <td>{{ veiculo.Placa }}</td>
                <td>{{ veiculo.Valor }}</td>
                <td>
                    <a href="/veiculos/editar/{{ veiculo.id }}">Editar</a>
                    <form action="/veiculos/excluir/{{ veiculo.id }}" method="POST" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
