<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Cadastrados</title>
</head>
<body>
    <h1>Usuarios Cadastrados</h1>
    <table>
        <thead>
            <tr>
                <th>nome</th>
                <th>email</th>
                <th>Senha</th>
                
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios  %}
                <tr>
                    <td>{{ usuario_id }}</td>
                    <td>{{ usuario_nome }}</td>
                    <td>{{ usuario_email }}</td>
                    <td>{{ usuario_senha }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/index.html">Voltar</a>
</body>
</html>
